<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8"/>
    <title>Catalog Online</title>
</head>
<body style="background-color:azure">
<!--/*@thymesVar id="adstud" type="bob.home.catalogUTMnou.model.Student"*/-->
<!--/*@thymesVar id="facs" type="bob.home.catalogUTMnou.model.Facultate"*/-->
<br><br>
<h1 style="margin-left: 50px">Adaugare Studenti</h1>
<br><br>
<form th:object="${adstud}" method="post" th:action="@{'/savestud'}">
    <input type ="hidden" name="id" th:field="*{id}"/>
    <div class="form-group">
        <div class="col-md-5 form-group">
        <label style="margin-left: 50px">Nume</label>
        <input style="margin-left: 50px" type="text" class="form-control" name="nume" placeholder="Introduceti numele stuentului" th:field="*{nume}">


        <label style="margin-left: 50px">Prenume</label>
        <input style="margin-left: 50px" type="text" class="form-control" name="prenume" placeholder="Introduceti prenumele" th:field="*{prenume}">
        <label style="margin-left: 50px">CNP</label>
        <input style="margin-left: 50px" type="text" class="form-control" name="CNP" placeholder="Introduceti CNP" th:field="*{cnp}">
        <label style="margin-left: 50px">Adresa</label>
        <input style="margin-left: 50px" type="text" class="form-control" name="adresa" placeholder="Introduceti adresa" th:field="*{adresa}">
        <label style="margin-left: 50px">Telefon</label>
        <input style="margin-left: 50px" type="text" class="form-control" name="telefon" placeholder="Introduceti telefon" th:field="*{telefon}">
        <label style="margin-left: 50px">Email</label>
        <input style="margin-left: 50px" type="email" class="form-control" name="email" placeholder="Introduceti email" th:field="*{email}">
        <!--<label style="margin-left: 50px">Grupa</label>-->
        <!--<input style="margin-left: 50px" type="text" class="form-control" name="grupa" placeholder="Introduceti grupa" th:field="*{grupa}">-->
        <label style="margin-left: 50px">Data nastere</label>
        <input style="margin-left: 50px" type="text" class="form-control" name="datanastere" placeholder="Introduceti data nasterii" th:field="*{dataNastere}">
        <label style="margin-left: 50px">Facultate</label>
        <select style="margin-left: 50px" type="text" class="form-control" name="facultate" placeholder="Introduceti facultatea" th:field="*{facultate}">
        <option th:each="fac :${facs}" th:value="${fac.id}" th:text="${fac.numeFacultate}">fac</option>
        </select>
        <label style="margin-left: 50px">An</label>
        <input style="margin-left: 50px" type="text" class="form-control" name="an" placeholder="Introduceti anul" th:field="*{an}">
        <label style="margin-left: 50px">Promotie</label>
        <input style="margin-left: 50px" type="text" class="form-control" name="promotie" placeholder="Introduceti promotia" th:field="*{promotie}">

        <label style="margin-left: 50px">Username</label>
        <input style="margin-left: 50px" type="text" class="form-control" name="username" placeholder="Introduceti username" th:field="*{username}">
        <label style="margin-left: 50px">Parola</label>
        <input style="margin-left: 50px" type="password" class="form-control" name="parola" placeholder="Introduceti parola" th:field="*{parola}">
        <!--<label style="margin-left: 50px">Role</label>-->
        <!--<select style="margin-left: 50px" type="text" class="form-control" name="role" placeholder="Introduceti rolul" th:field="*{role}">-->
            <!--<option th:each="rol :${roles}" th:value="${rol.id}" th:text="${rol.denumire}">Rol</option>-->
        <!--</select>-->
            <br>
            <input style="margin-left: 50px" type="submit" class="btn btn-primary btn-lg" value ="Salveaza"/>
        </div>
    </div>

</form>
</body>
</html>