<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8"/>
    <title>Login Catalog Online</title>
</head>
<body style="background-color:azure">
<br><br>
<img src="titu.jpg" align="right" height="210" width="200" style="margin-right: 100px">
<h2 style="margin-left: 50px">Login</h2><br><br>

<div style="margin-left: 50px" th:if="${param.error}">
    Invalid username and password.
</div>
<div style="margin-left: 50px" th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div><label style="margin-left: 50px"> User Name: <input class="form-control"  type="text" name="username"/> </label></div>
    <div><label style="margin-left: 50px"> Password: <input class="form-control"  type="password" name="password"/> </label></div>
    <div><input class="btn btn-primary" style="margin-left: 50px" type="submit" value="Sign In"/></div>
</form>
</body>
</html>