<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8"/>
    <title>Catalog Online</title>
</head>
<body style="background-color:azure">
<!--/*@thymesVar id="adprof" type="bob.home.catalogUTMnou.model.Profesor"*/-->

<br><br>
<h1 style="margin-left: 50px">Examene Profesor</h1>
<br>
<div class="form-group">
    <div class="row" th:object="${filtruNote}" th:action="@{'/cautanote'}" method="post">
        <div class="col-md-3 form-group" style="margin-left: 50px">
            <label>An Scolar:</label>
            <input type="text" class="form-control" th:field="*{anScolar}"/>
        </div>
        <div class="col-md-3 form-group">
            <label>An:</label>
            <input type="text" class="form-control" th:field="*{an}"/>
        </div>
        <div class="col-md-3 form-group">
            <label>Semestru:</label>
            <input type="text" class="form-control" th:field="*{semestru}"/>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-outline-primary btn-lg" style="margin-left: 50px">Cauta</button>
    </div>
</div>
<br>
<table class="table">
    <thead>
    <th scope="col">#</th>
    <th scope="col">Facultate</th>
    <th scope="col">Grupa</th>
    <th scope="col">Disciplina</th>
    <th scope="col">Data</th>
    <th scope="col">Ora</th>
    <th scope="col">Tip examen</th>


    </thead>
    <tbody>
    <tr th:each="disc: ${discipline}">
        <td th:text="${disc.id}">123</td>
        <td th:text="${disc.facultate.numeFacultate}">Facultate</td>
        <td th:text="${disc.grupa.nume}">Grupa</td>
        <td th:text="${disc.disciplina.denumire}">Disciplina</td>
        <td th:text="${disc.credite}">Data</td>
        <td th:text="${disc.credite}">Ora</td>
        <td th:text="${disc.credite}">Tip Examen</td>


    </tr>
    </tbody>
</table>
<div>
    <!--<button type="button" class="btn btn-outline-primary btn-lg" onclick="location.href='/adaugastudent'" style="margin-left: 50px">Adauga student</button></td>-->
    <!--<button type="button" class="btn btn-outline-primary btn-lg" onclick="location.href='/adaugadisciplina'" style="margin-left: 50px">Adauga disciplina</button></td>-->
    <button type="button" class="btn btn-outline-primary btn-lg" onclick="location.href='/main'" style="margin-left: 50px">Meniul principal</button></td>
</div>
</body>
</html>